<?xml version='1.0' encoding='utf-8'?>
<widget id="com.georgegarside.freebitcoin" version="2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Free Bitcoin</name>
    <description>
        A free bitcoin faucet app by George Garside.
    </description>
    <author email="grg.garside@gmail.com" href="https://georgegarside.com/">
        George Garside
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#f7f7f8" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
</widget>
