body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

iframe {
	display: block;
	width: 100vw;
	height: 100%;
	margin-bottom: 20px;
}

.page-content {
	padding-bottom: 0 !important;
}

#loading-block-inner {
	margin-top: 50%;
}
#roll-random, #roll-bitcoin {
	text-align: center;
	margin: 0;
}
#roll-random {
	/*noinspection CssInvalidPropertyValue*/
	font-size: -webkit-xxx-large;
}
.roll-bitcoin {
	text-align: center;
	background-color: #edffe0;
}
.roll-bitcoin:before, .roll-bitcoin:after {
	background-color: lightgreen;
}
#roll-bitcoin {
	font-size: 200%;
}
.roll-info {
	text-align: center;
	background-color: #fff3d0;
}
.roll-info:before, .roll-info:after {
	background-color: orange;
}
